@mixin name {
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    flex-direction: column;
}

@mixin name2 ($rem){
    font-size: 5rem;
    text-transform: capitalize;
        color: #BDC581;
        letter-spacing: $rem;
}